body{

    margin:0;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    linear-gradient(
    135deg,
    #0d1b52,
    #1a237e,
    #283593,
    #3949ab,
    #5c6bc0
    );

    font-family:Arial,sans-serif;

}

.contenedor{

    width:1200px;

    background:white;

    border-radius:40px;

    padding:40px;

    text-align:center;

    box-shadow:
    0 0 60px gold;

}

.estrellas{

    font-size:100px;

    animation:brillar 2s infinite;
}

h1{

    color:#ff9800;

    font-size:85px;

    margin:10px;
}

.subtitulo{

    color:#1565c0;

    font-size:35px;

    margin-bottom:30px;
}

.avatarGrande{

    width:350px;

    height:350px;

    border-radius:50%;

    object-fit:cover;

    border:15px solid gold;

    box-shadow:
    0 0 60px gold;
}

#nombreJugador{

    font-size:60px;

    color:#1565c0;

    margin-top:20px;
}

.medalla{

    font-size:70px;

    font-weight:bold;

    margin-top:25px;

    color:#ff9800;
}

.mensajeFinal{

    font-size:40px;

    font-weight:bold;

    color:#4caf50;

    margin-top:30px;
}

.estadisticas{

    margin-top:40px;

    font-size:35px;

    font-weight:bold;

    color:#333;
}

.logroFinal{

    margin-top:40px;

    font-size:32px;

    color:#673ab7;

    font-weight:bold;

    padding:25px;
}

button{

    margin-top:40px;

    padding:20px 60px;

    font-size:30px;

    border:none;

    border-radius:20px;

    background:#4caf50;

    color:white;

    cursor:pointer;

}

button:hover{

    transform:scale(1.05);
}

@keyframes brillar{

    0%{

        transform:scale(1);
    }

    50%{

        transform:scale(1.15);
    }

    100%{

        transform:scale(1);
    }

}
.botonesFinal{

    margin-top:40px;

    display:flex;

    justify-content:center;
}

.btnInicio{

    padding:22px 60px;

    font-size:30px;

    font-weight:bold;

    border:none;

    border-radius:20px;

    background:
    linear-gradient(
    135deg,
    #4caf50,
    #2e7d32
    );

    color:white;

    cursor:pointer;

    box-shadow:
    0 0 25px rgba(76,175,80,0.8);

    transition:0.3s;
}

.btnInicio:hover{

    transform:
    scale(1.08);

    box-shadow:
    0 0 40px rgba(76,175,80,1);

}